.*.swp

# intermediate files:

.deps/
.libs/
.dirstamp

*.pyc
*.o
*.lo

# build output:

src/libucd.la

# autotools output:

INSTALL
NEWS
README
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
Makefile
Makefile.in
stamp-h1
