# editor/external files:

*~
.*.swp
*.bat

# Eclipse project files:

.autotools
.cproject
.project
.settings

# VSCode project files:
.vscode

# intermediate build output:

*.o
*.lo

# android build output:

bin/
obj/
gen/
android/icons/*.png

libttsespeak.so

android/res/raw/espeakdata.zip
android/res/raw/espeakdata_version

local.properties

# android gradle output:
.cxx
.gradle/
.idea/
build/
*.iml
!gradlew.bat

# emscripten output:
a.out
a.out.js

# autotools

AUTHORS
INSTALL
NEWS
README
ChangeLog

.deps/
.libs/

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.dirstamp

m4/*
!m4/ax_check_compile_flag.m4

# libraries

docs/speak_lib.h

libespeak-ng.a
libespeak-ng.la
libespeak-ng.so*

libespeak-ng-test.a
libespeak-ng-test.la
libespeak-ng-test.so*

tests/libfuzzrunner.a
tests/libfuzzrunner.la
tests/libfuzzrunner.so*

# build output

*.html

src/espeak-ng.1
src/speak-ng.1

src/espeak-ng
src/espeakedit
src/speak-ng

tests/*.test
tests/*.check
!tests/language-phonemes.test
!tests/language-pronunciation.test
!tests/language-numbers-cardinal.test
!tests/language-numbers-ordinal.test
!tests/language-replace.test
!tests/ssml.test
!tests/translate.test
!tests/variants.test
!tests/non-executable-files-with-executable-bit.test
!tests/bom.test
!tests/klatt.test
!tests/mbrola.test
!tests/dictionary.test
!tests/cmd_options.test
!tests/windows-data.test
!tests/windows-installer.test
!tests/voices.test

espeak-ng.pc

espeak-ng-*.tar.gz
espeak-ng-*.*/

# /tests/fuzzing/
/tests/fuzzing/crash-*
/tests/fuzzing/oom-*
/tests/fuzzing/leak-*
/tests/fuzzing/fuzz-*.log
/tests/fuzzing/*.profdata
/tests/fuzzing/*.profraw
/tests/fuzzing/.deps/*.Po
/tests/fuzzing/.dirstamp
!tests/fuzzing/CORPUS*/*.txt
# Windows builds

src/pcaudiolib/
!src/windows/config.h

*.obj
*.lib
*.dll
*.exe
*.msi

*.exp
*.idb
*.ilk
*.iobj
*.ipdb
*.log
*.pdb
*.tlog
*.tlog/

.vs/
*.VC.opendb
*.sdf
*.cache
*.user

*.txt
*.wixobj
*.wixpdb
*.cab
/src/windows/Release
/src/windows/x64

*.tmp

*.nativecodeanalysis.xml
*.nativecodeanalysis.all.xml
*.lastcodeanalysissucceeded

!src/ucd-tools/data/*/*.txt

# Linux/Source distribution files

praat-mod/

ChangeLog.txt
License.txt
ReadMe
Makefile

# emscripten files

emscripten/*.out
emscripten/*.pkl
emscripten/espeakng_data_package.js
emscripten/glue.*
emscripten/js/*.data
emscripten/js/*.js
!emscripten/demo.html
!emscripten/Makefile
!emscripten/js/demo.js
!emscripten/js/espeakng.js

# espeak-ng-data

dictsource/*_extra
dictsource/dict_log
dictsource/dict_phonemes
dictsource/ru_listx
dictsource/cmn_listx
dictsource/yue_listx

phsource/compile_prog_log
phsource/compile_report
phsource/error_intonation
phsource/error_log
phsource/phonemes.stamp

espeak-ng-data/config
espeak-ng-data/dictsource
espeak-ng-data/phsource
espeak-ng-data/*_dict
espeak-ng-data/intonations
espeak-ng-data/phondata
espeak-ng-data/phondata-manifest
espeak-ng-data/phonindex
espeak-ng-data/phontab

espeak-ng-data/mbrola/
espeak-ng-data/mbrola_ph/*_phtrans

# fastlane metadata
!fastlane/metadata/android/*/*.txt
