<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName = "eSpeak NG Text-to-Speech" ?>
<?if $(var.Platform) = x64 ?>
<?define ProductDisplayName = "$(var.ProductName) 64-bit" ?>
<?define Win64 = "yes" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
<?define ProductDisplayName = "$(var.ProductName)" ?>
<?define Win64 = "no" ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="3DA6DF03-E5CD-4A93-B06F-707484742BAB" Name="$(var.ProductDisplayName)" Language="1033" Version="1.48.15.0" Manufacturer="Cainteoir Technologies" UpgradeCode="B4F779EB-AC6C-49D2-A12D-4871E4520C0F">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="All" Title="eSpeak NG" Level="1">
      <ComponentGroupRef Id="CoreComponents"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLDIR" Name="eSpeak NG">
          <Component Id="espeak_ng_EXE" Win64="$(var.Win64)" Guid="220D42BC-89CD-4230-A458-CD31285EB152">
            <File Name="$(var.espeak-ng.TargetFileName)" Source="$(var.espeak-ng.TargetPath)" KeyPath="yes"/>
          </Component>
          <Component Id="libespeak_ng_DLL" Win64="$(var.Win64)" Guid="AFDF57DE-D7E9-4781-BA0F-5D92FD56B045">
            <File Name="$(var.libespeak-ng.TargetFileName)" Source="$(var.libespeak-ng.TargetPath)" KeyPath="yes"/>
            <RegistryKey Root="HKLM" Key="SOFTWARE\eSpeak NG">
              <RegistryValue Name="Path" Type="string" Value="[INSTALLDIR]"/>
            </RegistryKey>
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CoreComponents" Directory="INSTALLDIR">
      <ComponentRef Id="espeak_ng_EXE"/>
      <ComponentRef Id="libespeak_ng_DLL"/>
    </ComponentGroup>
  </Fragment>
</Wix>