<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width; initial-scale=1"/>
<meta name="robots" content="all"/>
<style type="text/css">
body
{
	font-family: sans-serif;
	font-size: 14px;
	margin: 1em;
}

*:first-child
{
	margin-top: 0;
}

code, pre
{
	font-family: monospace;
	background: #F7F7F7;
	color: navy;
}

code
{
	font-size: 85%;
	padding: 0.2em;
}

pre
{
	margin-left: 3em;
	padding: 1em;
}

th
{
	text-align: left;
}

hr
{
	border: 0;
	border-bottom: 1px solid #BBB;
}
</style>
</head>
<body>
<%= @body %>
</body>
</html>
